.play-nav a,
.category li a,
.use-nav a {
    color: #a3a3a3;
}

.play-nav a.on {
    color: #fe5431;
}

nav .on a {
    color: #fe5341;
}

.use-nav a.on {
    color: #474747;
}

.play-nav a,
.category li a,
.use-nav a {
    color: #a3a3a3;
}

.play-nav a.on {
    color: #fe5431;
}

nav .on a {
    color: #fe5341;
}

.use-nav a.on {
    color: #474747;
}

.use dt .top-tip {
    color: #f5e8e8;
}

.use dt .shoufa {
    background: #fe5341;
}

.use dt .red span,
.use dt .sq span,
.use dt .red {
    color: #fe5341;
}

.use dt .tys {
    background: #fbf4cb;
    color: #c4a96a;
}

.use dt .green span,
.use dt .green {
    color: #80c269;
}

.use dt .graw span,
.use dt .graw {
    color: #ccc;
}

.common ul:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.common ul li {
    background: #fff;
}

.common ul li a {
    color: #474747;
}

.common .info .name span {
    color: #a3a3a3;
}

.common .info .price {
    color: #fe5341;
}

.common .info .tip {
    color: #a3a3a3;
}

.playMore {
    color: #a3a3a3;
}

.playMore .more-btn {
    background: url(img/more.png) no-repeat left center;
    color: #fe5341;
}

.playMore .loading {
    background-image: url(img/loading-icon.gif);
}

.focus {
    background: url(img/original.jpg) no-repeat center top;
}

.focus-info {
    color: #fff;
}

.focus-info .btn a {
    background: #fe5341;
    color: #fff;
}

.useLc {
    background: #f0f0f0;
}

.useLc .lcList {
    color: #737373;
}

.lcList dt:nth-child(1):before {
    background: url(img/use1.png) no-repeat center top;
}

.lcList dt:nth-child(2):before {
    background: url(img/use2.png) no-repeat center top;
}

.lcList dt:nth-child(3):before {
    background: url(img/use3.png) no-repeat center top;
}

.lcList dt:nth-child(4):before {
    background: url(img/use4.png) no-repeat center top;
}

.lcList dt:nth-child(5):before {
    background: url(img/use5.png) no-repeat center top;
}

.useDetial .title:after {
    background: #fe5341;
}

.useDetial .top {
    color: rgb(255, 0, 0);
}

.useDetial .little {
    color: rgb(0, 112, 192);
}

.useDetial .red {
    color: rgb(255, 0, 0);
}

/* 头部 */
.header nav a:hover {
    color: #fe5341;
}

nav .on a {
    color: #fe5341;
}

.header .login {
    color: #fe5341;
}

.header .login:hover {
    background: #fe5341;
    color: #fff;
}

.header .search {

    background: url(img/search.png) no-repeat;
}

/* 体验报告 */
.report-box {
    background: #f7f7f7;
}

.listInfo li .info {
    background: rgba(255, 255, 255, .9);
}

.listInfo li .title {
    color: #474747;
}

.listInfo .click-look {
    color: #a3a3a3;
}

.listInfo .userInfo .avt {
    background: url(img/tx.jpg) no-repeat;
}

.listInfo .userInfo .name {
    color: #fe695a;
}

.listInfo .userInfo .time {
    color: #a3a3a3;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

/* 极果体验师 */
.listR .gm .money {
    color: #fe5341;
}

.listR .gm .buyBtn {
    color: #fff;
    background: #fe5341;
}

.listR .gm .buyBtn:hover {
    background: #f3250f;
}

.listR .gm .resource {
    color: #a3a3a3;
}

.listR .title:after {
    background: #fe5341;
}

.listR .info .text {
    color: #a3a3a3;
}

.listR .info h5 {
    color: #474747;
}

.listR {
    padding-right: 290px;
    position: absolute;
    /* right: -20px; */
}

/* 点击加载更多 */
.playMore {
    color: #a3a3a3;
}

.playMore .more-btn {
    background: url(img/more.png) no-repeat left center;
    color: #fe5341;
}

.playMore .loading {
    background-image: url(img/loading-icon.gif);
}

.playMore {
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.playMore .more-btn {
    padding-left: 24px;
}

.report .playMore {
    padding-top: 22px;
}

/* 关于极果 */
.about .grawBg {
    background: #f3f3f3;
    position: relative;
    top: 0px;
    right: 0px;
}

.about .grawBg h2 {
    color: #444;
}

.about .listR a,
.about .about-info {
    color: #535353;
}

.about .about-info h5 {
    color: #474747;
}

.about {
    margin: 50px auto;
}

.about .grawBg {
    padding: 25px 20px;
    border-radius: 5px;
}

.about .listInfo .grawBg {
    padding: 25px 33px;
}

.about .grawBg h2 {
    font-size: 20px;
    line-height: 38px;
    font-weight: 900;
    border-bottom: 1px solid #a0a0a0;
}

.about .listR h2 {
    padding-left: 18px;
}

.about .listR dl {
    padding: 10px 18px;
    font-size: 16px;
    line-height: 1.7;
}

.about .listR dt {
    font-weight: bold;
}

.about .listR dd {
    padding-left: 15px;
}

.about .about-info {
    font-size: 16px;
}

.about .about-info h3 {
    font-size: 16px;
    padding: 25px 0 20px;
    font-weight: bold;
}

.about .about-info p {
    line-height: 1.8;
}

.about .about-info h5 {
    font-size: 20px;
    padding: 18px 0 16px;
    font-weight: bold;

    background: url(../css/img/search.png) no-repeat;
}

nav ul,
ul {
    list-style: none;
}

body {
    line-height: 1;
}

html {
    background: none;
}

body {
    height: 100%;
    font-family: "Microsoft YaHei", SimHei, "微软雅黑", "黑体";
    line-height: 1.6;
    background: #fff;
    font-size: 12px;
    min-width: 1000px;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    outline: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

.header {
    height: 76px;
    border-bottom: 1px solid #cecfcf;
    box-shadow: 0 0 5px #cecfcf inset;
}

.logo {
    padding-top: 13px;
}

.logo:hover img {
    animation: fade 1s ease-in infinite;
    -moz-animation: fade 1s ease-in infinite;
    -webkit-animation: fade 1s ease-in infinite;
}

.header nav {
    float: left;
    padding: 28px 0 0 40px;
}

.header nav li {
    float: left;
    padding: 0 25px;
}

.header nav a {
    transition: color 0.2s ease;
    font-size: 20px;
}

.header .login {
    transition: all 0.15s linear;
    margin-top: 23px;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    border: 1px #fe5341 solid;
}

.header .search {
    transition: transform 0.08s ease;
    width: 42px;
    height: 40px;
    line-height: 999;
    overflow: hidden;
    margin-top: 28px;
    margin-right: 15px;
}

.header .search:hover {
    transform: scale(1.1);
}

.left {
    float: left;
}

.right {
    float: right;
}

.fix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.header .fix {
    width: 1000px;
    margin: 0 auto;
}

.report-box .fix {
    width: 1000px;
    margin: 0 auto;
}

/* #fix {
    padding-right: -1000px;
} */

.header .login {
    transition: all 0.15s linear;
    margin-top: 23px;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    border: 1px #fe5341 solid;
}

/* 导购清单 */
* {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}

.s-top {
    width: 100%;
    height: 140px;
    text-align: center;
}

.s-top h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 30px;
}

.s-top .s-title {
    width: 340px;
    margin: 30px auto;
}



.s-top .s-t-title {
    width: 510px;
    margin: 30px auto;
}

.s-top .s-t-title h5 {
    float: left;
    width: 170px;
    height: 40px;
    line-height: 40px;

}

.s-top .s-title h5 {
    float: left;
    width: 170px;
    height: 40px;
    line-height: 40px;

}

.s-top .s-al {
    width: 160px;
    border-bottom: 4px solid rgb(254, 84, 49);
}


.s-top h5 a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: gray;
}

.s-top .s-red {
    color: red;
}

.s-content {
    width: 100%;
    height: 1180px;
    background-color: rgb(247, 247, 247);
}

#guid1 {
    height: 100%;
    background-color: #fff;
}

.s-content .s-list {
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

.s-content li {
    list-style: none;
    width: 220px;
    height: 240px;
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}

.s-content li .s-body {
    width: 220px;
    position: absolute;
    z-index: 3;
    height: 225px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #e6e9e9;
    overflow: hidden;
}

.s-content li img {
    width: 100%;
}

.s-content li a {
    text-decoration: none;
    color: rgb(37, 36, 36);
}

.s-content li p {
    font-size: 14px;
    width: 200px;
    height: 25px;
    padding-top: 5px;
    margin-left: 10px;
}

/* 酷玩 */
.s-content li .s-p2 {
    font-size: 12px;
    color: gray;
    height: 20px;
    margin-top: -5px;
}

.s-content li .s-icon {
    height: 30px;
    margin-top: 10px;
}

.s-content li .s-icon .s-price {
    width: 50px;
    color: red;
    font-size: 14px;
    margin-left: 5px;
}


.s-content li .s-icon span {
    font-size: 12px;
    color: gray;
    float: left;
}

/* 酷玩心 */
.s-content li .s-icon .s-xin {
    width: 30px;
    cursor: pointer;
    margin-left: 97px;
    text-align: right;
    background: url(./img/xin.png) no-repeat 5px 2px;
    /* background: url(../css/img/xinRedh.png) no-repeat 5px 2px; */
}

.s-content li .s-icon .s-xin1 {
    width: 30px;
    cursor: pointer;
    margin-left: 95px;
    text-align: right;
    /* background: url(./img/xin.png) no-repeat 5px 2px; */
    background: url(../css/img/xinRedh.png) no-repeat 7px 3px;
    background-size: 12px 12px;
}

/* 导购心 */

.s-content li .s-icon1 .s-xin1 {
    width: 30px;
    cursor: pointer;
    margin-left: 140px;
    text-align: right;
    /* background: url(./img/xin.png) no-repeat 5px 2px; */
    background: url(../css/img/xinRedh.png) no-repeat 5px 2px;
    background-size: 12px 12px;
}


.s-content li .s-icon .s-look {
    width: 30px;
    cursor: pointer;
    text-align: right;
    background: url(./img/reply.png) no-repeat 5px 3px;
}

/* 导购 */
.s-content li .s-icon1 {
    margin-top: 30px;

}

.s-content li .s-icon1 .s-xin {
    margin-left: 140px;
}




.s-content li .s-block1 {
    width: 190px;
    height: 20px;
    border: 1px solid #e6e9e9;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    top: 208px;
    right: 15px;
    z-index: 2;
}

.s-content li .s-block2 {
    width: 170px;
    height: 20px;
    border: 1px solid #e6e9e9;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    top: 214px;
    right: 26px;
}

.s-footer {
    text-align: center;
    font-size: 16px;
    color: red;
    width: 100%;
    height: 40px;
    float: left;
    margin-top: 40px;
    background: url(./img/more.png) no-repeat 668px 5px;

}

/* 详情页 */

.d-box {
    width: 100%;
    height: 4990px;
    background-color: rgb(245, 245, 245);
}

.d-all {
    width: 700px;
    background-color: #fff;
    border-radius: 6px;
    float: left;
}

.d-header {
    height: 50px;
    width: 1000px;
    margin: 0 auto;
}

.d-header p {
    font-size: 12px;
    color: gray;
    padding-top: 20px;
}

.d-header p a {
    text-decoration: none;
    color: gray;
}

.d-content {
    width: 1000px;
    margin: 0 auto;
}

.d-content .d-c-header {
    height: 130px;
    width: 700px;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.d-content .d-c-header h1 {
    font-size: 25px;
    font-weight: 400;
    margin-left: 20px;
    padding-top: 20px
}

.d-content .d-c-header .d-c-name {
    height: 30px;
    width: 650px;
    margin-top: 30px;
    margin-left: 20px;
}

.d-c-header .d-c-name p {
    font-size: 12px;
    color: gray;
}

.d-c-header .d-c-name p:nth-of-type(1) {
    float: left;
    margin-left: 10px;
}

.d-c-header .d-c-name p:nth-of-type(2) {
    float: right;
}

.d-c-header .d-c-name .d-icon {
    width: 20px;
    height: 20px;
    float: left;
    border-radius: 10px;
    background: url(./img/tx.jpg) no-repeat 0px 0px;
}

.d-a-content {
    width: 650px;
    margin: 20px auto;
}

.d-a-content p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.d-a-content h4 {
    text-align: center;
}

.d-a-footer {
    height: 80px;
    width: 650px;
    margin: 0 auto;
    margin-top: 40px;
}

.d-a-footer a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.a-right {
    width: 270px;
    height: 110px;
    background-color: #fff;
    float: right;
    border-radius: 6px;
}

.a-right .a-r-all div {
    float: left;
    width: 135px;
    height: 110px;
    line-height: 130px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(246, 246, 246);
}

.a-right .a-r-all span {
    font-size: 14px;
}

.a-right .a-r-all .a-r-left {
    color: gray;
    cursor: pointer;
    background: url(./img/xinRedo.png) no-repeat 50px 23px;
    /* background: url(./img/xinRedh.png) no-repeat 50px 23px; */
}

.a-right .a-r-all .a-r-right {
    color: gray;
    /* background: url(./img/shareh_yj1.png) no-repeat 54px 23px; */
    cursor: pointer;
    background: url(./img/share_yj1.png) no-repeat 54px 23px;
}

/* 酷玩-品类 */
.l-content {
    width: 100%;
    height: 2800px;
    background-color: rgb(247, 247, 247);
}

.list {
    width: 1000px;
    margin: 0 auto;
    list-style: none;
    padding-top: 5px;
}

.list .l-life {
    width: 100%;
    height: 30px;
    font-size: 18px;
    padding-left: 20px;
    /* box-sizing: border-box; */
    border-left: 7px solid red;
}

.list li {
    width: 100%;
    margin-top: 30px;
    background-color: #fff;

}

.list li .l-one {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid rgb(236, 236, 236);
}

.list .l-pic {
    width: 1000px;
    overflow: hidden;
    margin: 20px auto;
    border-bottom: 1px dashed gainsboro;
}

.list .l-pic div {
    width: 150px;
    height: 150px;
    text-align: center;
    float: left;

}

.list a p {
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}

.list .l-text {
    width: 950px;
    overflow: hidden;
    margin: 20px auto;
}

.list .l-text a p {
    float: left;
    width: 150px;
    height: 30px;
}


/**底部**/
dl dd {
    margin: 0;
}

.foot {
    padding: 40px 0 15px;
}

.foot dl {
    float: left;
    font-size: 13px;
    padding-left: 22px;
    line-height: 20px;
}

.foot dl dt {
    font-size: 16px;
    padding-bottom: 25px;
}

.foot dl:nth-child(2) dd:last-child {
    margin-top: 13px;
}

.foot dl:nth-child(4) dd a {
    display: inline-block;
    width: 69px;
}

.foot dl:nth-child(1) {
    padding-left: 0;
}

.foot dl:nth-child(2) {
    width: 140px;
}

.foot dl:nth-child(3) {
    width: 100px;
}

.foot dl:nth-child(4) {
    width: 140px;
}

.foot dl:nth-child(5) {
    width: 148px;
}

.foot dl:nth-child(6) {
    width: 180px;
}

.foot .copy {
    text-align: center;
    padding-top: 80px;
    font-size: 13px;
}

.foot {
    background: #505050;
    color: #a3a3a3;
}

.foot a {
    color: #a3a3a3;
}

.foot dl dt {
    color: #fff;
}